version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - "./config/nginx:/etc/nginx/nginx.conf"
      - "./config/index.php:/app/index.php"
      - "./config/index:/etc/nginx/sites-enabled/default"
      - "./config/phpmyadmin:/etc/nginx/sites-enabled/phpmyadmin"
      - "./config/onesmart:/etc/nginx/sites-enabled/onesmart"
      - "./config/__cors_variable:/etc/nginx/tools/__cors_variable"
      - "./config/_cors:/etc/nginx/tools/_cors"
      - "./config/_phalcon:/etc/nginx/tools/_phalcon"
      - "../:/onesmart"
    ports:
      - "8000:80"
      - "8001:3306"
      - "8002:100"
      - "8003:90"
      - "8004:91"